In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

2023-11-08 09:57:09,072 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2023-11-08 09:57:10,245 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
from pyspark.sql.functions import *

In [4]:
data_df=spark.read.format("json").load("file:/home/labuser/Downloads/688b97cc-73ed-4262-b3be-6ef274e26311_83d04ac6-cb74-4a96-a06a-e0d5442aa126_cars.json")
data_df.show()

+--------+----------+--------------+--------+---------+
|    kind|      make|         model|   price|    style|
+--------+----------+--------------+--------+---------+
|electric|     Telsa|       Model S| 71000.0|    sedan|
|  hybrid|      Audi|     A3 E-Tron| 37900.0|   luxury|
|  hybrid|       BMW|          330e| 43700.0|    sedan|
|electric|       BMW|            i3| 43300.0|    sedan|
|  hybrid|       BMW|            i8|137000.0|    coupe|
|  hybrid|       BMW|  X5 xdrive40e| 64000.0|      suv|
|electric|     Chevy|      Spark EV| 26000.0|    coupe|
|electric|     Chevy|          Volt| 34000.0|    sedan|
|electric|      Fiat|          500e| 32600.0|    coupe|
|  hybrid|      Ford|  C-Max Energi| 32600.0|wagon/van|
|electric|      Ford|Focus Electric| 29200.0|    sedan|
|electric|      Ford| Fusion Energi| 33900.0|    sedan|
|  hybrid|   Hyundai|        Sonata| 35400.0|    sedan|
|electric|       Kia|       Soul EV| 34500.0|    sedan|
|electric|  Mercedes|       B-Class| 42400.0|    sedan|
|  hybrid|  Mercedes|          C350| 46400.0|    sedan|
|  hybrid|  Mercedes|       GLE500e| 67000.0|      suv|
|electric|Mitsubishi|        i-MiEV| 23800.0|    sedan|
|electric|    Nissan|          LEAF| 29000.0|    sedan|
|  hybrid|   Porsche|       Cayenne| 78000.0|      suv|
+--------+----------+--------------+--------+---------+
only showing top 20 rows

In [5]:
data_df.select("make").distinct().count()

15

In [6]:
data_df.select("price").filter("price > 60000").count()

9

In [7]:
b1=data_df.withColumn("ispremium",when(col("price")>60000,'1').otherwise("0")).select("style","kind","make","ispremium")
b1.orderBy(col("style").desc()).show()

+---------+--------+----------+---------+
|    style|    kind|      make|ispremium|
+---------+--------+----------+---------+
|wagon/van|  hybrid|      Ford|        0|
|      suv|  hybrid|     Volvo|        1|
|      suv|  hybrid|       BMW|        1|
|      suv|  hybrid|  Mercedes|        1|
|      suv|  hybrid|   Porsche|        1|
|      suv|electric|     Tesla|        1|
|    sedan|electric|     Telsa|        1|
|    sedan|electric|      Ford|        0|
|    sedan|electric|       BMW|        0|
|    sedan|  hybrid|       BMW|        0|
|    sedan|  hybrid|   Hyundai|        0|
|    sedan|electric|       Kia|        0|
|    sedan|  hybrid|  Mercedes|        0|
|    sedan|electric|    Nissan|        0|
|    sedan|electric|     Chevy|        0|
|    sedan|electric|      Ford|        0|
|    sedan|electric|  Mercedes|        0|
|    sedan|electric|Mitsubishi|        0|
|    sedan|  hybrid|   Porsche|        1|
|    sedan|electric|     Tesla|        0|
+---------+--------+----------+---------+
only showing top 20 rows

In [8]:
data_df.groupBy("style").agg(avg("price")).show()

+---------+-----------------+
|    style|       avg(price)|
+---------+-----------------+
|   luxury|          37900.0|
|    coupe|          67900.0|
|      suv|          71600.0|
|    sedan|42471.42857142857|
|wagon/van|          32600.0|
+---------+-----------------+